<div align = "right">Current user: {{user}}</div>
<div>
     <a href = /login/>Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href = /logout/>Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a href = /signup/>Signup</a>
</div>
<div>
     <a href = /ask/>Ask a question</a>
</div>

============================================================
<br>
{% for quest in questions %}
  <a href = /question/{{quest.pk}}> {{ quest }} (author:{{quest.author}})
  <br>
{% endfor %}

<nav><ul class="pagination">
{% for p in paginator.page_range %}
    {% if p == page.number %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="{{ paginator.baseurl}}{{ p }}">{{ p }}</a>
    </li>
{% endfor %}
</ul></nav>
